flask==2.3.2
requests==2.31.0
spacy==3.7.2
python-dotenv==1.0.0
python-docx==0.8.11
beautifulsoup4==4.12.2
lxml==4.9.3
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0-py3-none-any.whl